<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/phpunit/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="WikibaseQueryFast">
            <directory>tests/phpunit/Unit</directory>
            <directory>tests/phpunit/Integration</directory>
        </testsuite>
        <testsuite name="WikibaseQuerySlow">
            <directory>tests/phpunit/System</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
